body{
  background-color: #b4f2e1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  padding: 20px 20px;
  background-color: #ffe9c5;
  color: #fa9191;
  border-radius: 20px;
}
span{
  color: #eb6383;
}

